.body {
  font-family: "Inter", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentcolor;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  max-width: 1312px;
  width: 100%;
  position: absolute;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

img {
  display: block;
}

/* ---------------------HEADER----------------------- */

.header {
  position: relative;
}

.header-container {
  position: absolute;
  bottom: 120px;
  background: linear-gradient(
    90deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  backdrop-filter: blur(17.5px);
  max-width: 1280px;
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  padding: 19px 0;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.header-item {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-link {
  display: block;
  padding: 29px 0;
}

/* ----------------------HERO------------------- */

.hero {
  background-color: #06071b;
  padding-top: 222px;
  padding-bottom: 143px;
}

.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
  max-width: 442px;
  width: 100%;
}
.hero-subtitle {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
  max-width: 315px;
  width: 100%;
}
.hero-list {
  margin-bottom: 62px;
}
.hero-submenu {
  margin-bottom: 14px;
  padding-left: 16px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
}

.hero-submenu:last-child {
  margin-bottom: 0;
}

.hero-text {
  color: #fff;
  font-size: 14px;
  line-height: normal;
}

.hero-text-one {
  max-width: 380px;
  width: 100%;
  margin: 0;
}

.hero-text-two {
  max-width: 361px;
  width: 100%;
  margin: 0;
}

.hero-text-three {
  max-width: 266px;
  width: 100%;
  margin: 0;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 12px 60px;
  border-radius: 5px;
  background: linear-gradient(90deg, #00c5eb -1.97%, #b544fe 89.43%);
  border: transparent;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}

.button:hover {
  background: linear-gradient(#06071b, #06071b) padding-box,
    linear-gradient(to right, #00c5eb, darkorchid) border-box;
  border-radius: 5px;
  border: 1.5px solid transparent;
}

.button:active {
  background: linear-gradient(#06071b, #06071b) padding-box,
    linear-gradient(to right, #00c5eb, darkorchid) border-box;
  border-radius: 5px;
  border: 1.5px solid transparent;
}

.hero-content {
}

.hero-container {
  position: relative;
}

.hero-image-phone {
  right: 80px;
  top: 10px;
  position: absolute;
  z-index: 999;
}

.hero-image-decor {
  top: -10px;
  position: absolute;
  right: 410px;
}

.back-light {
  right: 30px;
  top: -100px;
  position: absolute;
}

.back-light-small {
  left: 0;
  top: -40px;
  position: absolute;
}

.icon-hero {
  margin-right: 4px;
}

.hero-list-decor {
}

.hero-item {
}
